.titlebar {
    height: 50px;
    background: #2D3748;
    user-select: none;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.titlebar-button:hover {
    background: #1A202C;
}